<h1>HELLO <%= title  %> v6</h1>

<div>
    <button><a href="<%= domain %>/social/google">Google</a> </button>
</div>
<div>
    <button><a href="<%= domain %>/social/facebook">Facebook</a> </button>
</div>

<p><%= email  %></p>

<p><a href="<%= domain %>/about">about</a></p>